* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  width: 1500px;
  margin: 0 auto;
}
.App {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.message {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  position: fixed;
  top: 53px;
  left: 310px;
}
.search-main {
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.search-main > input {
  padding-left: 5px;
  border-radius: 5px;
  outline:none;
  width: 270px;
  border: 1px solid gray;
}

.search-main > div {
  margin-left: 10px;
}

.btn {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  padding: 8px;
  border-radius: 5px;
}
.btn:hover {
  background: gray;
  color: white;
}
.load-btn {
  background: green;
}

.clear-btn {
  background: red;
}
.group-btn {
  background: blue;
}
.main-block {

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.photo-cart {
  border: 1px solid gray;
  width: 370px;
  height: 370px;
  margin: 10px;
}
.photo-cart img {
  display: block;
   max-width: 100%;
  max-height: 370px;
}
.grouped {

  border: 1px gray solid;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-flow: column ;
  align-items: flex-start;
}
.photo-group {
  margin: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  }
.photo-group img {
  max-width: 90%;
  max-height: 250px;
  margin: 5px;
}
.border {
  margin: 10px;
  width: 280px;
  height: 300px;
  border: 1px gray solid;
}
.load-btn-off {
  background: black;
  color: white;
  cursor: not-allowed;
}